
.benefits[_ngcontent-bnb-c94] {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: 50%;
    text-align: center;
}

.fork-empresa[_ngcontent-bnb-c94], .fork-empresa[_ngcontent-bnb-c94] .offices-form[_ngcontent-bnb-c94] {
    text-align: center;
}

.fork-empresa[_ngcontent-bnb-c94] {
    background-image: url(/assets/images/fondo-fork-empresa.jpg);
    background-size: cover;
    background-position: 50%;
    width: 100%;
    max-width: 1024px;
    height: auto;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.offices-item[_ngcontent-bnb-c89] .offices-intro-text[_ngcontent-bnb-c89] {
    max-width: 700px;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    padding: 0 10px;
}

.offices-item[_ngcontent-bnb-c89] .offices-intro-text[_ngcontent-bnb-c89] {
    width: 700px;
    height: 61px;
    font-family: Montserrat,sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: .3px;
    text-align: center;
    color: #020202;
    margin: 0 auto 50px;
    display: block;
}

.fork-empresa[_ngcontent-bnb-c94], .fork-empresa[_ngcontent-bnb-c94] .offices-form[_ngcontent-bnb-c94] {
    text-align: center;
}

.fork-empresa[_ngcontent-bnb-c94] {
    background-image: url(assets/img/fondo-fork-empresa.jpg);
    background-size: cover;
    background-position: 50%;
    width: 100%;
    max-width: 1024px;
    height: auto;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.hero-image .hero-txt {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 16px;
    height: 100%;
    max-width: 100%;
    background-position: center 101%;
    background-repeat: no-repeat;
    background-size: 130%;
    background-image: url(shape-desktop.a5bacd4….svg);
}

.hero-image .hero-txt-top {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    color: white;
    justify-content: center;
    text-align: center;
}

.hero-image .hero-txt-bottom {
    font-family: rift-bold,sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    margin: 0;
    color: white;
    justify-content: center;
    text-align: center;
}